doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge, chrome=1')
    meta(name='viewport' content='width=device-width, maximum-scale=1.0 minimum-scale=1.0 initial-scale=1.0 user-scalable=no')
    meta(name='description' content='Get the stats on your raps.')
    meta(name='keywords' content='freestyle,rap,freestyle rap,hip-hop,hiphop,trap,music,spoken word)')
    meta(name='mobile-web-app-capable' content='yes')
    meta(name='apple-mobile-web-app-capable' content='yes')
    meta(name='apple-mobile-web-app-status-bar-style' content='black-translucent')

    //- Social Tags for shaing to Twitter and Open Graph Supported sites
    meta(property='twitter:card' content='summary')
    meta(property='twitter:site' content='@vaemoi')
    meta(property='twitter:creator' content='@brwnrclse')
    meta(property='og:title' content='barfax - compose. edit. flow')
    meta(property='og:description' content='Get the stats on your raps.')
    meta(property='og:image' content='https://barfax.vaemoi.co/assets/img/png/barfax_mark-landscape.png')
    meta(property='og:url' content='https://barfax.vaemoi.co')

    noscript
      link(rel='stylesheet' type='text/css' href='css/fonts.css')
      style.
        #noscripthide {
          display: none;
        }
        .font-wait {
          background-color: transparent !important;
          border-radius: 0 !important;
          color: #333232 !important;
          font-family: 'IBM Plex Mono', Monaco, monospace !important;
        }

    //- Critical styles (IMPORTANT: keep in sync with styles/critical.styl!!!)
    style.
      html {
        background-color: #f6d8ae;
        height: 100vh;
        max-height: 100vh;
        max-width: 100vw;
        min-height: 100vh;
        min-width: 100vw;
        width: 100vw;
      }
      .font-wait {
        background-color: rgba(51,50,50,0.5);
        border-radius: 4px;
        color: transparent;
        font-family: Monaco, monospace;
      }
      .wf-ibmplexmono-n4-active .font-wait {
        background-color: transparent;
        border-radius: 0;
        color: #333232;
        font-family: 'IBM Plex Mono', Monaco, monospace;
      }
      .wf-ibmplexmono-n4-inactive .font-wait {
        background-color: transparent;
        border-radius: 0;
        color: #333232;
      }
      .barfax-page {
        -ms-flex-line-pack: center;
            align-content: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-flow: column nowrap;
                flex-flow: column nowrap;
        height: 100%;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        max-height: 100%;
        max-width: 100%;
        min-height: 100%;
        min-width: 100%;
        width: 100%;
      }
      @media only screen and (max-width: 700px) {
        .barfax-page {
          -ms-flex-pack: distribute;
              justify-content: space-around;
        }
      }
      .barfax-header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: row nowrap;
                flex-flow: row nowrap;
        height: 10%;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        max-height: 10%;
        max-width: 100%;
        min-height: 10%;
        min-width: 100%;
        width: 100%;
      }
      @media only screen and (max-width: 700px) {
        .barfax-header {
          display: none;
          visibility: hidden;
        }
      }
      .barfax-main {
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 80%;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        max-height: 80%;
        max-width: 100%;
        min-height: 80%;
        min-width: 100%;
        width: 100%;
      }
      .barfax-banner {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-flow: column nowrap;
                flex-flow: column nowrap;
        height: 95%;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        max-height: 95%;
        max-width: 80%;
        min-height: 95%;
        min-width: 80%;
        width: 80%;
      }
      .barfax-logo {
        max-width: 35%;
        min-width: 35%;
        width: 35%;
      }
      @media only screen and (max-width: 700px) {
        .barfax-logo {
          max-width: 90%;
          min-width: 90%;
          width: 90%;
        }
      }
      .barfax-title {
        margin: 2% 0 0;
      }
      @media only screen and (max-width: 700px) {
        .barfax-title {
          margin: 4% 0 0;
        }
      }
      .barfax-footer {
        height: 10%;
        max-height: 10%;
        max-width: 100%;
        min-height: 10%;
        min-width: 100%;
        width: 100%;
      }
      .vaemoi-link {
        margin: auto 0 auto 2.5%;
      }

    //- Favicon Stuff
    link(rel='shortcut icon' type='image/x-icon' href='favicon.ico')
    link(rel='icon' type='image/png' sizes='16x16' href='favicon-16x16.png')
    link(rel='icon' type='image/png' sizes='32x32' href='favicon-32x32.png')
    link(rel='mask-icon' type='image/svg+xml' href='safari-pinned-tab.svg' color='#F6D8AE')
    link(rel='apple-touch-icon' type='image/png' sizes='180x180' href='apple-touch-icon.png')

    //- Webapp Stuff (manifest, etc)
    link(rel='manifest' href='site.webmanifest')
    meta(name="msapplication-TileColor" content="#F6D8AE")
    meta(name="msapplication-config" content="browserconfig.xml")
    meta(name="theme-color" content="#F6D8AE")

    title
      | barfax - compose. edit. flow

    //- Styles
    link(rel='stylesheet' type='text/css' href='css/fix.css')
    link(rel='stylesheet' type='text/css' href='css/typography.css')

    //- Async webfont loading
    script(type='text/javascript').
      WebFontConfig = {
        google: {
          families: ['IBM Plex Mono']
        }
      };

      (function(d){
        var
          wf = d.createElement('script'),
          s = d.scripts[0];

        wf.src = 'assets/loadWebFont/webfont.js';
        wf.async = true;
        wf.onerror = 'console.log("Error Loading Webfont")'
        s.parentNode.insertBefore(wf, s);
      })(document);

  body.barfax-page
    header.barfax-header
      a.vaemoi-link(href='https://vaemoi.co' target='_blank')
        img(alt='vaemoi logo' src='assets/img/svg/vaemoi_mark_circle.svg' width='45')
    main.barfax-main
      section.barfax-banner
        img.barfax-logo(alt='barfax logo' src='assets/img/svg/barfax_icon.svg')
        h3.barfax-title.font-wait
          | barfax
    footer.barfax-footer
