$text-dark = #333232
$chedda = #F6D8AE
$dark-shroud = rgba(51, 50, 50, 0.5)

html
  background-color $chedda
  height 100vh
  max-height 100vh
  max-width 100vw
  min-height 100vh
  min-width 100vw
  width 100vw

//
// Trickery to hide text elements until the web fonts have loaded
//
//

.font-wait
  background-color $dark-shroud
  border-radius 4px
  color transparent
  font-family Monaco, monospace

.wf-ibmplexmono-n4-active
  & .font-wait
    background-color transparent
    border-radius 0
    color $text-dark
    font-family 'IBM Plex Mono', Monaco, monospace

.wf-ibmplexmono-n4-inactive
  & .font-wait
    background-color transparent
    border-radius 0
    color $text-dark

//
// End Section
//
//

.barfax
  &-page
    align-content center
    display flex
    flex-flow column nowrap
    height 100%
    justify-content center
    max-height 100%
    max-width 100%
    min-height 100%
    min-width 100%
    width 100%

    @media only screen and (max-width: 700px)
      justify-content space-around

  &-header
    display flex
    flex-flow row nowrap
    height 10%
    justify-content flex-start
    max-height 10%
    max-width 100%
    min-height 10%
    min-width 100%
    width 100%

    @media only screen and (max-width: 700px)
      display none
      visibility hidden

  &-main
    align-items flex-start
    display flex
    height 80%
    justify-content center
    max-height 80%
    max-width 100%
    min-height 80%
    min-width 100%
    width 100%

  &-banner
    align-items center
    display flex
    flex-flow column nowrap
    height 95%
    justify-content center
    max-height 95%
    max-width 80%
    min-height 95%
    min-width 80%
    width 80%

  &-logo
    max-width 35%
    min-width 35%
    width 35%

    @media only screen and (max-width: 700px)
      max-width 90%
      min-width 90%
      width 90%

  &-title
    margin 2% 0 0

    @media only screen and (max-width: 700px)
      margin 4% 0 0

  &-footer
    height 10%
    max-height 10%
    max-width 100%
    min-height 10%
    min-width 100%
    width 100%

.vaemoi-link
  margin auto 0 auto 2.5%
